{
  "presets": [
    "react",
    "stage-1",
    [
      "env", {
        "targets": {
          "chrome": 52,
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
